{% load static %}
{% extends 'base.html' %}


{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account Info</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_customer.css' %}">
    <script>var customer_id = "{{customer_id}}"</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/edit_customer.js' %}" defer></script>
</head>
<body>
    <div id="edit-information-container">
        <h1>Edit Account Information</h1>
            {% csrf_token %}
            <div class="column">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id="first_name">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" id="last_name">
                <label for="email_address">Email Address:</label>
                <input type="email" name="email_address" id="email_address">
                <label for="address">Address:</label>
                <input type="text" name="address" id="address">
                <label for="line_two">Address Line 2:</label>
                <input type="text" name="line_two" id="line_two">
                <label for="city">City:</label>
                <input type="text" name="city" id="city">
                <label for="state">State:</label>
                <input type="text" name="state" id="state">
                <label for="zip">Zip:</label>
                <input type="text" name="zip" id="zip">
            </div>
            
            <div class="column">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
                <label for="store">Store:</label>
                <input type="text" name="store" id="store">
                <label for="other_information">Other Information:</label>
                <textarea name="other_information" id="other_information"></textarea>
                <label for="birthday">Birthday:</label>
                <input type="date" name="birthday" id="birthday">
            </div>
           
            <div id="buttons-div">
                <button id='save-info-button'>Save</button>
                <button id="back-button">Back</button> 
            </div>
           
        
            
        
        </div>
    
        
    
        <form id="back-to-employee-info-form" method="POST" action="/account_info">
            <input type="hidden" name="account_id_input" id="account-id-input" value="{{customer_id}}">
        </form>
</body>
</html>


{% endblock %}