{% extends 'base.html' %}
{% load static %}


{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account Info</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/employee_edit_customer.css' %}">
    <script>var customer_id = "{{customer_id}}"</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'js/employee_edit_customer.js' %}" defer></script>
</head>
<body>
    <div id="edit-information-container">
        <h1>Edit Account Information</h1>
        {% csrf_token %}
        <div class="column">
            <label for="first-name-input">First Name:</label>
            <input type="text" name="first_name" id="first-name-input">
            <label for="last-name-input">Last Name:</label>
            <input type="text" name="last_name" id="last-name-input">
            <label for="email-address-input">Email Address:</label>
            <input type="email" name="email_address" id="email-address-input">
            <label for="address-input">Address:</label>
            <input type="text" name="address" id="address-input">
            <label for="line-two-input">Address Line 2:</label>
            <input type="text" name="line_two" id="line-two-input">
        </div>

        <div class="column">
            <label for="city-input">City:</label>
            <input type="text" name="city" id="city-input">
            <label for="state-input">State:</label>
            <input type="text" name="state" id="state-input">
            <label for="zip-input">Zip:</label>
            <input type="text" name="zip" id="zip-input">
            <label for="other-information-input">Other Information:</label>
            <textarea name="other_information" id="other-information-input"></textarea>
            <label for="birthday-input">Birthday:</label>
            <input type="date" name="birthday" id="birthday-input">
        </div>

        
        <div id="buttons-div">
            <button id='save-info-button'>Save</button>
            <button id="back-button">Back</button> 
        </div>
           
        
            
        
    </div>
    
        
    
        <form id="back-to-employee-info-form" method="POST" action="/account_info">
            {% csrf_token %}
            <input type="hidden" name="account_id_input" id="account-id-input" value="{{customer_id}}">
            <input type="hidden" name="account_type_input" id="account-type-input" value="customer">
        </form>
</body>
</html>


{% endblock %}