{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% csrf_token %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/home_page.js' %}" defer></script>
</head>
<body>
    <h1>Welcome to StoreMaster</h1>
    <div id="main-container">
        <!-- Manage Store Button -->
        
        <a href="{% url 'Accounts:login_employee' %}" id="manage-store-button">Employee Login</a>
    
        <!-- Register Store Button -->
        <a href="{% url 'Stores:register_store' %}" id="register-store-button">Register a New Store</a>
        <!-- <div id="search-div">
            <form id="store-search-form" action="{% url 'Stores:search_for_store' %}" method="POST">
                {% csrf_token %}
                <input type="text" id="home-store-search-bar" name="store_search_bar" placeholder="Search for a store by name or ID">
                <button type="submit" id="home-store-search-button">Search</button>
            </form>
            
        </div>   -->
        <div id="search-div">
            <input type="text" id="home-store-search-bar" name="store_search_bar" placeholder="Search for a store by name or ID">
            <button id="home-store-search-button">Search</button>
        </div>
        <div id="search-results-div" style="display: none;">
        </div>
    </div>
        
    <!-- Search Bar -->
    

    
</body>
</html>
