{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Employee</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/view_employee.css' %}">
    <script>var employee_id = "{{employee_id}}";</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/view_employee.js' %}"></script>
</head>
<body>
    {{employee_id}}
    {% csrf_token %}
    <div id="main-info-container">
        <h3 id="name-header"></h3>
        <p id="address-p"></p>
        <p id="city-p"></p>
        <p id="state-p"></p>
        <p id="zip-p"></p>
        <p id="email-p"></p>
        <p id="other-info-p"></p>
        <p id="birthday-p"></p>
        <p id="account-type-p"></p>
        <button id="edit-information-button">Edit Information</button>
        <button id="back-to-portal-button">Back to management portal</button>
        <!-- <h3>{{employee.first_name}} {{employee.last_name}}</h3>
        <p>Address:{{employee.address}} {{employee.line_two}} </p>
        <p>City: {{employee.city}}</p>
        <p>State: {{employee.state}}</p>
        <p>Zip: {{employee.zip}}</p>
        <p>Email Address: {{employee.email_address}}</p>
        <p>Other Information: {{employee.other_information}}</p>
        <p>Birthday: {{employee.birthday}}</p>
        <p>Account type: {{employee.account_type}}</p>
        
    
        {% if original_page == "admin portal" %}
            <button>Back to admin portal</button>
        {% else %}
            <button>Back to management portal</button>
        {% endif %} -->
    
    
    </div>
</body>
</html>
