<style>
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#main-info-container {
    width: 300px;
    margin: 35px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom:10px;
}

button:hover {
    background-color: #2980b9;
}

p {
    margin-top: 20px;
    text-align: center;
}
</style>
<div id="main-info-container">
    <h3>{{employee.first_name}} {{employee.last_name}}</h3>
    <p>Address:{{employee.address}} {{employee.line_two}} </p>
    <p>City: {{employee.city}}</p>
    <p>State: {{employee.state}}</p>
    <p>Zip: {{employee.zip}}</p>
    <p>Email Address: {{employee.email_address}}</p>
    <p>Other Information: {{employee.other_information}}</p>
    <p>Birthday: {{employee.birthday}}</p>
    <p>Account type: {{employee.account_type}}</p>
    <a href="{% url 'Accounts:edit_employee' employee_id=employee.user_id employee_type=account_type %}"><button>Edit Information</button></a>

    {% if original_page == "admin portal" %}
        <a href="{% url 'Stores:admin_manage_stores' %}"><button>Back to admin portal</button></a>
    {% else %}
        <a href="{% url 'Stores:manage_store' employee.store.store_id %}"><button>Back to management portal</button></a>
    {% endif %}


</div>