body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1 {
    margin-top:100px;
    text-align: center;
    color: #333;
    margin-bottom:30px;
}

#search-form {
    display: flex;
    margin-bottom: 20px;
    
}

#search-div {
    margin-top:35px;
}

#home-store-search-bar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 250px;
}

#home-store-search-button,
#manage-store-button,
#register-store-button,
.open-store-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#home-store-search-button {
    background-color: #3498db;
    color: #fff;
}

#home-store-search-button:hover {
    background-color: #2980b9;
}

#manage-store-button {
    background-color: #2ecc71;
    color: #fff;
    margin-right: 10px;
}

#manage-store-button:hover {
    background-color: #27ae60;
}

#register-store-button {
    background-color: #e67e22;
    color: #fff;
}

#register-store-button:hover {
    background-color: #d35400;
}

#main-container {
    text-align: center;
}

#search-results-div {
    border: 8px solid #3498db;
    width:350px;
    text-align:center;
    margin: 0 auto;
    margin-top:50px;
    border-radius: 15px;
    
    max-height: 500px; /* Adjust the value to set the maximum height before scrolling */
    overflow-y: auto; /* Enable vertical scrolling if the content overflows the specified height */

}

.store-entry {
    border:3px solid #e67e22;
    border-radius:10px;
    margin:20px;
    display: flex;
    justify-content: space-between;
    margin-left:20px;
    padding:20px;
}

.store-info {
    text-align: left;
    flex: 1;
}

.store-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.store-address {
    margin-bottom: 10px;
}

.open-store-button {
    margin-bottom:10px;
    margin-top:30px;
    
    background-color:#e67e22;
    color: #fff;
}

.open-store-button:hover {
    background-color:rgba(139, 163, 67, 0.5);
}

a {
    text-decoration: none; /* Removes underline for all links */
}