body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#store-info-div {
    text-align:center;
    align-items: center;
}

.search-section {
    height:500px;
    width:350px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:10px;
    padding:4px;
}

.search-results-section {
    height:360px;
    overflow: auto;
}

#main-div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
}

#product-search-top-label {
    width:153px;
    margin-left:105px;
}

#no-products-text {
    margin-left:105px;
}

#product-search-bar {
    margin-bottom:15px;
    margin-left:98.5px;
}

.individual-product-div {
    display: flex;
    margin-bottom:5px;
    margin-left: 28px;
}

.product-name-p,
.view-product-button {
    margin-top:16px;
}

.product-name-p {
    width:75%;
}

.view-product-button {
    height:20px;
}

#order-results-div, #purchase-results-div {
    font-size:12px;
}

#order-search-top-label {
    width:153px;
    margin-left:115px;
}

#order-search-bar {
    margin-bottom:15px;
    margin-left:98.5px;
}

#no-orders-text {
    
    margin-left:125px;
    
}

#order-info-table {
    margin-left:10px;    
}

.individual-order-div {
    display: flex;
}

#order-results-div {
    margin-left:2%;
}

#order-date-column-header,
#order-customer-name-column-header {
    padding-right:12px;
}

.order-id-cell {
    width:20%;
    text-align: right;
    padding-right:12px;
    
}

.order-row td {
    padding-right:20px;
}

.order-row td:last-child {
    padding-right:20px;
}

.view-order-button {
    height:20px;
}

#purchase-search-top-label {
    margin-left:100px;
}

#purchase-search-bar {
    margin-bottom:15px;
    margin-left:98.5px;
}

#no-purchases-text {
    margin-left: 120px;
}

#purchase-info-table {
    margin-left:20px;
}

.purchase-id-cell {
    text-align:right;
    padding-right:12px;
}

#purchase-customer-name-column-header {
    padding-right:10px;
}

.purchase-date-cell, 
.purchase-customer-name-cell {
    margin-right:20px;
}

.view-purchase-button {
    margin-left:20px;
}

#low-stock-top-label {
    width:153px;
    margin-left:105px;
}

.out-of-stock-item {
    color:rgb(186, 129, 22);
}

.low-stock-item {
    color: rgb(190, 190, 52);
}

#no-customers-text {
    margin-left:107px;
}

.individual-customer-div {
    display: flex;
    margin-bottom:5px;
    margin-left: 65px;
}

.individual-employee-div {
    display: flex;
    margin-bottom:5px;
    margin-left: 65px;
}

.customer-name-p {
    width: 60%;
}

.employee-name-p {
    width: 60%;
}

#customer-search-top-label {
    width:160px;
    margin-left:98px;
}

#customer-search-bar {
    margin-left:100px;
    margin-bottom:15px;
}

.customer-name-p,
.view-customer-button {
    margin-top:16px;
}

.view-customer-button {
    height:20px;
}

#employee-search-top-label {
    width:160px;
    margin-left:98px;
}

#employee-search-bar {
    margin-left:100px;
    margin-bottom:15px;
}

#no-employees-text {
    margin-left:104px;
}

.employee-name-p,
.view-employee-button {
    margin-top:16px;
}

.view-employee-button {
    height:20px;
}

#button-section {
    display:inline-block;
}

.manager-menu-button {
    font-size: 18px;
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top:10px;
    height:30px;
}

#view-all-shipments-button {
    margin-top:25%;
}

#add-new-manager-button {
    height:70px;
}

#return-to-admin-portal-button {
    height:70px;
}