{% extends 'base.html'%}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Product</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_view.css' %}">
</head>
<body>
    
</body>
</html>
    <div class="product-container">
        <div class="product-details">
            <h1 id="product-name-header">{{ product.product_name }}</h1>
            <label>Price:</label> ${{ product.product_price }}<br>
            <label>Description:</label> {{ product.product_description }}<br>
            <label>In stock:</label> {{ product.product_stock }}<br>
            <label>Location:</label> {{ product.product_location }}<br>
            
        </div>

        <div class="product-image">
            {% if product.product_image %} 
                <img src="{{ product.product_image.url }}" alt="Product Image">
            {% else %} 
                <div id="no-image"><p>No image available</p></div>
                
            {% endif %}
        </div>
        {% if user.is_authenticated and user.userinfo.account_type == "customer" %}

            <div id="add-to-cart-div">
                <form id="add-to-cart-form" method="POST">
                    {% csrf_token %}
                    <select name="quantity" id="quantity-selector"  style="height:20px;" size="7">
                        {% for num in quantities %}
                            <option value="{{ num }}">{{ num }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Add to cart</button>
                </form>
            </div>
        {% endif %}
    </div>
    
{% endblock %}
