{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Management Portal</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin_manage_stores.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/admin_manage_stores.js' %}"></script>
        
    </head>
    <body>
        {% csrf_token %}
        <div id="main-container">
            <h1>Select Store</h1>
            <div id="store-selector-div">
                <select id="store-selector">
                    <option value="">Select a store</option>
                    <!-- {% for store in stores %}
                        <option value="{{ store.0 }}">{{ store.1 }}</option>
                    {% endfor %} -->
                </select>
                <button id="select-store-button">Select Store</button>
            </div>
        
            <h1>Select Employee</h1>
            <div id="employee-selector-div">
                <select id="employee-selector">
                    <option value="">Select an employee</option>
                    <!-- {% for employee in employees %}
                        <option value="{{ employee.0 }}">{{ employee.1 }}</option>
                    {% endfor %} -->
                </select>
                <button id="select-employee-button">Select Employee</button>
            </div>

            <h1>Select Customer</h1>
            <div id="customer-selector-div">
                <select id="customer-selector">
                    <option value="">Select a customer</option>
                    <!-- {% for customer in customers %}
                        <option value="{{ customer.0 }}">{{ customer.1 }}</option>
                    {% endfor %} -->
                </select>
                <button id="select-customer-button">Select Customer</button>
            </div>
            <button id="logout-employee-button">Logout</button>
            
        </div>
    </body>
</html>