{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Management Portal</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/admin_manage_stores.css' %}">
    </head>
    <body>
        <div id="main-container">
            <h1>Select Store</h1>
            <form id="store_form" method="POST">
                {% csrf_token %}
                <select name="store_selector" required>
                    <option value="">Select a store</option>
                    {% for store in stores %}
                        <option value="{{ store.0 }}">{{ store.1 }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Select Store</button>
            </form>
        
            <h1>Select Employee</h1>
            <form id="employee_form" method="POST">
                {% csrf_token %}
                <select name="employee_selector" required>
                    <option value="">Select an employee</option>
                    {% for employee in employees %}
                        <option value="{{ employee.0 }}">{{ employee.1 }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Select Employee</button>
            </form>
            <h1>Select Customer</h1>
            <form id="customer_form" method="POST">
                {% csrf_token %}
                <select name="customer_selector" required>
                    <option value="">Select a customer</option>
                    {% for customer in customers %}
                        <option value="{{ customer.0 }}">{{ customer.1 }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Select Customer</button>
            </form>
            <a href="{% url 'Accounts:logout_employee' %}"><button>Logout</button></a>
        </div>
    </body>
</html>