{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/employee_view_customer.css' %}">
    <script>var customer_id = "{{customer_id}}" </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/employee_view_customer.js' %}" defer></script>
</head>
<body>
    <div id="main-info-container">
        {% csrf_token %}
        <h1 id="customer-name-header"></h1>
        <p id="customer-address-p"></p>
        <p id="customer-line-two-p"></p>
        <p id="customer-username-p"></p>
        <p id="customer-birthday-p"></p>
        <p id="customer-other-information-p"></p>

        <button id="edit-customer-button">Edit</button>
        <button id="back-button">Back to management portal</button>
    </div>
    <form id="back-to-management-portal-form" method="POST" action="/manage_store">
        {% csrf_token %}
        <input type="hidden" id="store-id-input" name="store_id_input">
    </form>
    <form id="open-edit-customer-form" method="POST" action="/edit_account_info">
        {% csrf_token %}
        <input type="hidden" id="account-type-input" name="account_type_input" value="customer">
        <input type="hidden" id="customer-id-input" name="account_id_input" value="{{customer_id}}">
    </form>
</body>
</html>
