{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Order</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/employee_view_order.css' %}">
    <script>var order_id = "{{order_id}}";</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/employee_view_order.js' %}" defer></script>
    
</head>
<body>
    {% csrf_token %}
    <div id="main-div">
        <div id="order-information-div">
            <p id="order-id-p"></p>
            <p id="order-date-p"></p>
            <p id="customer-name-p"></p>
            <p id="order-total-p"></p>
        </div>
        <div id="order-table-div">
            <h2>Products In Order</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="order-table">
                </tbody>
            </table>
            <button id="back-button">Back to management portal</button>
        </div>
       
    </div>
</body>
</html>


