<style>

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}</style>

Customer name: {{name}}
Purchase ID: {{purchase_object.purchase_id}}
purchase_data: {{purchase_object.purchase_date}}
<table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>

    </tr>
    {% for product_in_purchase in products_in_purchase %}
        <tr>
            <th>{{product_in_purchase.product.product_id}}</th>
            <th>{{product_in_purchase.product.product_name}}</th>
            <th>{{product_in_purchase.product.product_price}}</th>
            <th>{{product_in_purchase.quantity}}</th>
        </tr>
    {% endfor %}
</table>

<p>Total: ${{purchase_object.purchase_total}}</p>
<a href="{% url 'Stores:manage_store' products_in_purchase.0.product.store_id %}"><button>Back to store manager</button></a>
