<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #f9f9f9;
    }
    
    #main-info-container {
        width: 300px;
        margin: 35px auto;
        padding: 20px;
        border: 1px solid #ddd;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h3 {
        text-align: center;
        color: #333;
    }
    
    label {
        display: block;
        margin-bottom: 8px;
        color: #333;
    }
    
    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    
    button {
        width: 100%;
        padding: 10px;
        background-color: #3498db;
        color: #fff;
        border: none;
        cursor: pointer;
        margin-bottom:10px;
    }
    
    button:hover {
        background-color: #2980b9;
    }
    
    p {
        margin-top: 20px;
        text-align: center;
    }
</style>


<div id="main-info-container">
        <h3>{{customer.first_name }} {{customer.last_name}}</h3>
        {% if customer.address %}
            <p>Address: {{customer.get_full_address}}</p>
        {% else %}
            <p> No address found</p>
        {% endif %}
        <p>Username: {{customer.username}}</p>
        {% if customer.birthday %}
            <p>Birthday: {{customer.birthday}}</p>
        {% else %}
            <p>No birthday found</p>
        {% endif %}
        
        {% if customer.other_information %} 
            <p>Other information: {{customer.other_information}}</p>
        {% else %} 
            <p>No other information found</p>
        {% endif %}
        <a href="{% url 'Accounts:employee_edit_customer' customer.user_id %}"><button>Edit Information</button></a>

        {% if original_page == "admin portal" %}
            <a href="{% url 'Stores:admin_manage_stores' %}"><button>Back to admin portal</button></a>
        {% else %}
            <a href="{% url 'Stores:manage_store' customer.store.store_id %}"><button>Back to management portal</button></a>
        {% endif %}
    </div>