<!DOCTYPE html>

<html>
    <head>
        
    </head>

    <body>
        <h1>Store Name</h1>
        <h2>Welcome, {{ request.user }}</h2>
         <!--TODO-Employees at the store,
             product search,
            make purchase,
            make order
            pull up customer account
            shipments
            look up purchases/orders
            stock
            log out button-->
        <h3>Product Search</h3>
        <form id="search-form" action="{% url 'Stores:product_search' %}" method="GET">
            <input type="text" name="product_search" placeholder="Product Search">
            <button type="submit">Search</button>
        </form>

        <a href="{% url 'Products:add_product' store_id=request.session.store_id %}"><button>Add Product</button></a>
        
        
        <a href="url EMPLOYEE PRODUCT SEARCH VIEW"></a>
        <a href="url MAKE A PURCHASE"></a>
        <a href="CHECK ORDER OR ACCOUNT INFO SCREEN"></a>
        <!--OR  Icould just have fields for looking up an account or order-->
        

        <a href="{% url 'Accounts:logout_employee' %}"><button>Log Out</button></a>
        {% if request.user.userinfo.account_type == "admin" %}                                                                                                                                                
            <a href="{% url 'Stores:admin_manage_stores' %}"><button>Back to Admin Portal</button></a>
        {% endif %}
            
    </body>
</html>