<!DOCTYPE html>

<html>
    <head>
        
    </head>

    <body>
        <h3>Product Search</h3>
        <form id="search-form" action="{% url 'Stores:product_search' %}" method="GET">
            <input type="text" name="product_search" placeholder="Product Search">
            <button type="submit">Search</button>
        </form>

        <a href="{% url 'Products:add_product' store_id=request.session.store_id %}"><button>Add Product</button></a>
        
        
        <a href="url EMPLOYEE PRODUCT SEARCH VIEW"></a>
        <a href="url MAKE A PURCHASE"></a>
        <a href="CHECK ORDER OR ACCOUNT INFO SCREEN"></a>
        <!--OR  Icould just have fields for looking up an account or order-->
        

            
    </body>
</html>