{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/store_registration_dynamic_form.js' %}"></script>
    <title>Register New Store</title>
    <!-- Add your CSS links or styles here -->
</head>
<body>
    <h1>Register New Store</h1>
    <form id="store_registration_form" action="{% url 'Stores:register_store' %}" method="POST">
        {% csrf_token %}

        {{ form.store_name.label_tag }} {{ form.store_name }} <br>
        {{ form.address.label_tag }} {{ form.address }} <br>
        {{ form.line_two.label_tag }} {{ form.line_two }} <br>
        {{ form.city.label_tag }} {{ form.city }} <br>
        {{ form.state.label_tag }} {{ form.state }} <br>
        {{ form.zip.label_tag }} {{ form.zip }} <br>
        
        <div id="select_existing_manager">
            {{ form.manager.label_tag }} {{ form.manager }}<br>
            <button id="add_new_manager_form_button" type="button">New Manager</button>
        </div>

        <div id="register_new_manager" style="display: none;">
            {{ form.first_name.label_tag }} {{ form.first_name }}<br>
            {{ form.last_name.label_tag }} {{ form.last_name }}<br>
            {{ form.address.label_tag }} {{ form.address }}<br>
            {{ form.line_two.label_tag }} {{ form.line_two }}<br>
            {{ form.city.label_tag }} {{ form.city }}<br>
            {{ form.state.label_tag }} {{ form.state }}<br>
            {{ form.zip.label_tag }} {{ form.zip }}<br>
            {{ form.username.label_tag }} {{ form.username }}<br>
            {{ form.password.label_tag }} {{ form.password }}<br>
            {{ form.other_info.label_tag }} {{ form.other_info }}<br>
            {{ form.birthday.label_tag }} {{ form.birthday }}<br>
            <button id="return_button" type="button">Select Existing Manager</button>
        </div>

        
        <button type="submit">Register</button>
    </form>
</body>
</html>