{% extends 'base.html' %}

{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Front</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/store_front.css' %}">

    <script>var store_id="{{store_id}}";</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/store_front.js' %}"></script>
</head>

<body>
    <meta name="csrf-token" content="{{csrf_token}}">
    <div id="main-container">
        <div id="search-bar-div">
            <input type="text" id="search-bar" name="search-bar" placeholder="Search for products">
            <select id="sort-selector" name="sort-selector">
                <option value=""selected>Sort</option>
                <option value="alphabetical_descend">A-Z</option>
                <option value="alphabetical_ascend">Z-A</option>
                <option value="price-low-to-high">Price: low to high</option>
                <option value="price-high-to-low">Price: high to low</option>
                
            </select>
            <button id="search-button">Search</button>
        </div>
        <div id="search-results">
            <p id="no-products-p" style="display:none;">Sorry, no products found</p>
        </div>
    
    </div>
    
</body>
{% endblock %}
</html>
