{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/store_management_portal.css' %}">
        <script>var store_id = "{{store_id}}" </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/store_management_portal.js' %}" defer></script>
    </head>
    <body>
        {% csrf_token %}
        <div id="store-info-div">
            <h1>{{store_name}}</h1>
            <h2>Welcome, {{username}}</h2>
        </div>
        
        <div id="main-div-container">
            <div class="row">
                <div class="search-section">
                    <h3 id="product-search-top-label">Product Search</h3>
                    <input type="text" id="product-search-bar" placeholder="Search">
                    <div class="search-results-section" id="product-results-div">
                        <p id="no-products-text" style="display:none;">No products found</p>
                    </div>
                </div>

                <div class="search-section">
                    <h3 id="order-search-top-label">Order Search</h3>
                    <input type="text" id="order-search-bar" placeholder="Search">
                    <div class="search-results-section" id="order-results-div">
                        <p id="no-orders-text" style="display:none;">No orders found</p>
                        <table id="order-info-table">
                            <tr>
                                <th>Order ID</th>
                                <th id="order-date-column-header">Date</th>
                                <th id="order-customer-name-column-header">Customer</th>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="search-section">
                    <h3 id="purchase-search-top-label">Purchase Search</h3>
                    <input type="text" id="purchase-search-bar" placeholder="Search">
                    <div class="search-results-section" id="purchase-results-div">
                        <p id="no-purchases-text" style="display:none;">No purchases found</p>
                        <table id="purchase-info-table">
                            <tr>
                                <th>Purchase ID</th>
                                <th id="purchase-date-column-header">Date</th>
                                <th id="purcahse-customer-name-column-header">Customer</th>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div class="search-section">
                    <h3 id="low-stock-top-label">Low Stock Items</h3>
                    <p id="no-low-stock-text" style="display:none;">No items are low in stock</p>
                    <div id="low-stock-items"></div>
                </div>
            </div>
            <div class="row">
                <!--THESE NEXT TWO DIVS SHOULD ONLY BE ACCESSIBLE TO ADMIN USERS-->
                
                <div class="search-section" id="customer-search-section" style="display: none;">
                    <h3 id="customer-search-top-label">Customer Search</h3>
                    <input type="text" id="customer-search-bar" placeholder="Search">
                    <p id="no-customers-text" style="display:none;">No customers found</p>
                    <div class="search-results-section" id="customer-results-div"></div>
                </div>

                <div class="search-section" id="button-section">
                    <button class="manager-menu-button" id="view-all-shipments-button">View all shipments</button>    
                    <button class="manager-menu-button" id="add-product-button">Add Product</button>
                    <button class="manager-menu-button" id="new-purchase-button">New Purchase</button>
                    <button class="manager-menu-button" id="add-new-manager-button">Add new manager or employee</button>
                    <button class="manager-menu-button" id="return-to-admin-portal-button" style="display:none;">Back to admin portal</button>
                    <button class="manager-menu-button" id="log-out-button">Log out</button>
                </div>
                
                <div class="search-section" id="employee-search-section" style="display: none;">
                    <h3 id="employee-search-top-label">Employee Search</h3>
                    <input type="text" id="employee-search-bar" placeholder="Search">
                    <p id="no-employees-text" style="display:none;">No employees found</p>
                    <div class="search-results-section" id="employee-results-div"></div>
                </div>
            </div>
        </div>
    </body>
</html>