
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }
</style>
<h2>Shipment Information</h2>

<table>
    <thead>
        <tr>
            <th>Shipment ID</th>
            <th>Shipping Company</th>
            <th>Shipment Origin</th>
            <th>Expected Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for shipment in shipments %} 
            <tr>
                <td>{{shipment.shipment_id}}</td>
                <td>{{shipment.shipping_freight_company}}</td>
                <td>{{shipment.shipment_origin}}</td>
                <td>{{shipment.shipped_date}}</td>
                <td>{{shipment.expected_date}}</td>
                <td>{{shipment.shipment_status}}</td>
                <td><a href="{% url 'Stores:view_shipment' shipment.shipment_id %}"><button>View</button></a></td>
            </tr>
        {% endfor%}     
    </tbody>
</table>
<a href="{% url 'Stores:add_new_shipment' request.session.store_id %}"><button>Add a new shipment</button></a>
<a href="{% url 'Stores:manage_store' store_id %}"><button>Back to management portal</button></a>
</body>
</html>